body {
    padding-top: 5rem;
}
.columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-uploaded {
    width: 90%;
    height: 90%;
    align-self: center;
    box-shadow: 1px 1px #760e0e;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

